
:root{
    --primary-bg:rgba(44,62,80,1);
    --secondary-bg:rgba(0,0,0,0.9);
    --box-shadow-color-1:gold;
    --box-shadow-color-2:rgba(149,165,166,0.1);
    --box-shadow-color-3:#ecf0f1;
    --phone-width:350px;
    --phone-height:700px;
    
}
body{
    background-color: var(--secondary-bg);
    margin-left: 15%;
    margin-top: 20%;   
    
}
.iphone{
    width: var(--phone-width);
    height: var(--phone-height);
    background-color:black;
    border-radius: 35px;
    box-shadow: -1px -3px 2px 0px var( --box-shadow-color-1);
}
.border{
    position: relative;
    top: -79px;
    width: 349px;
    height: 706px;
    border-radius: 35px;
    box-shadow: 4px 10px 1px -1px var( --box-shadow-color-2);
}
.iphone .screen{
    position:relative;
    width: 318px;
    height: 546px;
    top: 82px;
    left: 17px;
    border-radius: 5px;
    background-color: var(--primary-bg);
}
.cam{
    position: relative;
    left: 50%;
    top: 16px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--primary-bg);
}
.sensor{
    position: relative;
    left: 35%;
    top: 30px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--primary-bg);
}
.microphone{
    position: relative;
    left: 43%;
    top: 22px;
    width: 55px;
    height: 7px;
    border-radius: 25px;
    background-color: var(--primary-bg);
}
.btn-menu{
    position: relative;
    left: 154px;
    top: 615px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    box-shadow: -1px 0px 2px 0px var(--box-shadow-color-1);
    border-radius: 50%;
}
.shadow-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px -1px 0px 0px grey;
}